<script>
import { computed } from 'vue'
import { useStore } from 'vuex'
import TodoCreateForm from '../../components/todo-create/TodoCreateForm.vue'
import TodoCreateItem from '../../components/todo-create/TodoCreateItem.vue'

export default {
  name: 'TodoCreate',
  components: { TodoCreateForm, TodoCreateItem },
  setup() {
    const store = useStore()

    const taskList = computed(() => store.getters['getTasks'])

    return {
      taskList,
    }
  },
}
</script>

<template>
  <div class="app-wrapper todo">
    <TodoCreateForm></TodoCreateForm>

    <div class="todo_list">
      <template v-if="taskList.length > 0">
        <h2 class="todo_title">Task list</h2>

        <TodoCreateItem
          v-for="task in taskList"
          :task="task"
          :key="task.id"
        ></TodoCreateItem>
      </template>

      <p v-else class="todo_empty">Add some todo!</p>
    </div>
  </div>
</template>

<style scoped>
.todo {
  margin: 0 auto;
}

.todo_list {
  width: 100%;
  margin: 0 auto;
}

.todo_empty {
  font-size: 22;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.todo_title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
</style>
