<script>
import { ref } from 'vue'
import { useRouter } from 'vue-router'
import { useStore } from 'vuex'

export default {
  name: 'TodoCreateItem',
  props: {
    task: { type: Object, required: true },
  },
  setup(props) {
    const router = useRouter()
    const store = useStore()
    const card = ref(null)
    const text = ref(null)

    function clickCard(e) {
      if (e.target === card.value || e.target === text.value) {
        store.dispatch('addCurrentTask', props.task.id)
        router.push(`/edit/${props.task.id}`)
      }
    }

    function compitedTask() {
      store.dispatch('changeTaskStatus', props.task.id)
    }

    function removeTask() {
      store.dispatch('removeTask', props.task.id)
    }

    return {
      card,
      text,
      clickCard,
      compitedTask,
      removeTask,
    }
  },
}
</script>

<template>
  <div
    class="todo_card"
    :class="task.status === 'completed' ? 'completed' : ''"
    @click="clickCard($event)"
    ref="card"
  >
    <div ref="text" class="todo_text">{{ task.text }}</div>

    <div class="todo_buttons">
      <button class="todo_remove" @click="removeTask">Delete</button>
      <button v-if="task.status !== 'completed'" class="todo_add" @click="compitedTask()">Completed</button>
    </div>
  </div>
</template>

<style scoped>
.todo_card {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  background-color: rgb(248, 161, 80);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  margin-bottom: 15px;
  cursor: pointer;
  align-items: center;
}

.todo_card.completed {
  background-color: rgb(80 155 83);
}

.todo_card:hover {
  background-color: rgb(199, 199, 199);
}

.todo_buttons {
  display: flex;
}

.todo_text {
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis; 
  margin-right: 10px;
}

.todo_card.completed .todo_text {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  text-decoration-color: black;
}

.todo_remove {
  margin-right: 5px;
  color: #fff;
  background-color: rgb(255, 68, 68);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.todo_remove:hover {
  background-color: rgb(245, 53, 53);
}

.todo_add {
  color: #fff;
  background-color: rgb(74, 236, 115);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.todo_add:hover {
  background-color: rgb(16, 168, 54);
}
</style>
