<script>
import { ref } from 'vue'
import { useStore } from 'vuex'

export default {
  name: 'TodoCreateForm',
  setup() {
    const inputTodo = ref('')
    const store = useStore()

    function addTask() {
      if (inputTodo.value !== '') {
        store.dispatch('addTask', {
          id: Date.now(),
          text: inputTodo.value,
          status: 'add',
        })
        inputTodo.value = ''
      }
    }

    return {
      inputTodo,
      addTask,
    }
  },
}
</script>

<template>
  <div>
    <form class="todo_form" @submit.prevent="addTask">
      <input
        class="todo_input"
        placeholder="write task"
        type="text"
        v-model="inputTodo"
      />
      <button class="todo_submit" type="submit">
        <img src="../../static/plus.svg" alt="plus" />
      </button>
    </form>
  </div>
</template>

<style scoped>
.todo_form {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 400px;
  margin: 0 auto 30px;
}

.todo_input {
  height: 40px;
  width: 100%;
  padding: 0 40px 0 10px;
  border-radius: 5px;
}

.todo_submit {
  position: absolute;
  background-color: #fff;
  cursor: pointer;
  right: 3%;
  border: none;
}

.todo_submit:hover {
  background-color: rgb(228, 228, 228);
}
</style>
