<script>
import { computed, ref } from 'vue'
import { useStore } from 'vuex'

export default {
  name: 'Edit',
  setup() {
    const store = useStore()
    const isShowInputEdit = ref(false)

    const task = computed(() => store.getters['getCurrentTask'])
    const editInput = ref(task.value?.text ?? '')

    function edit() {
      editInput.value = task.value.text
      isShowInputEdit.value = true
    }

    function changeTaskText() {
      store.dispatch('editTaskText', {
        id: task.value.id,
        text: editInput.value,
      })

      editInput.value = ''
      isShowInputEdit.value = false
    }

    return {
      task,
      editInput,
      isShowInputEdit,
      edit,
      changeTaskText,
    }
  },
}
</script>

<template>
  <div v-if="task" class="app-wrapper">
    <RouterLink to="/" class="edit_link">
      <span class="edit_arrow">&#8592;</span>
      Go back
    </RouterLink>
    <div class="edit_card">
      <div class="edit_text">{{ task.text }}</div>

      <button v-if="!isShowInputEdit" class="edit_button" @click="edit">Edit</button>
    </div>

    <div class="edit_content" v-if="isShowInputEdit">
      <div class="edit_contaier">
        <input class="edit_input" type="text" v-model="editInput" />
      </div>

      <button class="edit_save" :disabled="task.text === editInput" @click="changeTaskText">
        Save
      </button>
    </div>
  </div>
</template>

<style scoped>
.edit_card {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  background-color: rgb(80, 173, 248);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  margin-bottom: 15px;
  align-items: center;
}

.edit_text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 10px;
}

.edit_button {
  border: none;
  background-color: rgb(80, 248, 150);
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.edit_link {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
  color: black;
  text-decoration: none;
}

.edit_link:hover,
.edit_link:focus {
  opacity: 0.8;
  text-decoration: none;
}

.edit_arrow {
  margin-right: 5px;
}

.edit_button:hover {
  background-color: rgb(68, 218, 130);
}

.edit_contaier {
  margin-bottom: 15px;
}

.edit_content {
  display: flex;
  flex-direction: column;
  text-align: flex-end;
}

.edit_save {
  border: none;
  background-color: rgb(255, 188, 3);
  color: #fff;
  font-size: 20px;
  padding: 15px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.edit_save:hover {
  background-color: rgb(240, 178, 6);
}

.edit_save:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.edit_input {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  height: 40px;
  width: 100%;
}
</style>
