<template>
  <header>
    <h1>Todo App</h1>
  </header>

  <main>
    <nav class="app-wrapper">
    </nav>
  </main>

  <RouterView />
</template>

<script>
import { RouterView } from 'vue-router'
</script>

<style>
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding-top: 40px;
}

.app-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
  margin-bottom: 20px;
}
</style>
